*                       @nicolas4pitz

/docs/                  @nicolas4pitz
README.md               @nicolas4pitz

/frontend/              @nicolas4pitz

/backend/               @nicolas4pitz


.github/                @nicolas4pitz
/compose.yml            @nicolas4pitz
/.env                   @nicolas4pitz

/database/              @nicolas4pitz @nicolas4pitz

/tests/                 @nicolas4pitz